@page "/Settings"
@using ModestySlotMachine.Core.Entities
@using ModestySlotMachine.Core.Services
@using ModestySlotMachine.Resources
@using ModestySlotMachine.Utill

@inject UserDataService UserDataService

<h3 class="fw-bold">Settings</h3>

<form class="settings-area row g-3 mt-3">

    <div class="col-lg-3 col-md-12">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="sounds">
            <label class="form-check-label" for="sounds">Sounds</label>
        </div>
    </div>
    
    <div class="col-12">
        <label class="form-label" for="displayMode">Language</label>
        <select value="@userData?.UserSettings?.Selectedlanguage" class="form-select" id="displayMode" @onchange="e => SetLanguage(e.Value as string)">
            <option value="en-US" selected>@Localization.ResourceManager.GetString($"Lang_EN_US")</option>
            <option value="fr-FR" selected>@Localization.ResourceManager.GetString($"Lang_FR_FR")</option>
            <option value="ru-RU" selected>@Localization.ResourceManager.GetString($"Lang_RU_RU")</option>
        </select>
    </div>

</form>

@code {
    UserData userData;

    protected override async Task OnInitializedAsync()
    {
        userData = await UserDataService.GetUserDataAsync();

        await base.OnParametersSetAsync();
    }

    void SetLanguage(string newLanguage)
    {
        userData.UserSettings.Selectedlanguage = newLanguage;
        SaveSettingsAsync().ConfigureAwait(false);

        MauiProgram.SetLocale(newLanguage);
    }

    async Task SaveSettingsAsync()
    {
        await UserDataService.SaveUserDataAsync(userData);
    }
}

<style>
    main {
        background: #E3DBDB;
    }
</style>