@page "/Settings"
@using ModestySlotMachine.Core.Entities
@using ModestySlotMachine.Core.Services
@using ModestySlotMachine.Resources
@using ModestySlotMachine.Utill

@inject UserDataService UserDataService

<h3 class="fw-bold">Settings</h3>

<form class="settings-area row g-3 mt-3">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <label class="form-label" for="musicVolume"><span class="mdi mdi-volume-high"></span> Music</label>
            <input class="form-range" type="range" id="musicVolume"
                   min="0" max="1" step="0.05"
                   value="@userData?.UserSettings?.SoundVolume"
                   @onchange="e => SetMusicVolume(double.Parse((string)e.Value))" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <label class="form-label" for="fxSoundVolume"><span class="mdi mdi-volume-high"></span> Sound effects</label>
            <input class="form-range" type="range" id="fxSoundVolume"
                   min="0" max="1" step="0.05"
                   value="@userData?.UserSettings?.FxSoundVolume"
                   @onchange="e => SetFxSoundVolume(double.Parse((string)e.Value))" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <label class="form-label" for="displayMode"><span class="mdi mdi-translate"></span> Language</label>
            <select id="displayMode"
                value="@userData?.UserSettings?.Selectedlanguage" class="form-select"
                @onchange="e => SetLanguage(e.Value as string)"
            >
                <option value="en-US" selected>@Localization.ResourceManager.GetString($"Lang_EN_US")</option>
                <option value="fr-FR" selected>@Localization.ResourceManager.GetString($"Lang_FR_FR")</option>
                <option value="ru-RU" selected>@Localization.ResourceManager.GetString($"Lang_RU_RU")</option>
            </select>
        </div>
    </div>

</form>

@code {
    UserData userData;

    protected override async Task OnInitializedAsync()
    {
        userData = await UserDataService.GetUserDataAsync();

        await base.OnParametersSetAsync();
    }

    void SetLanguage(string newLanguage)
    {
        userData.UserSettings.Selectedlanguage = newLanguage;
        SaveSettingsAsync().ConfigureAwait(false);

        MauiProgram.SetLocale(newLanguage);
    }

    void SetMusicVolume(double volume)
    {
        userData.UserSettings.SoundVolume = volume;
        SaveSettingsAsync().ConfigureAwait(false);
    }

    void SetFxSoundVolume(double volume)
    {
        userData.UserSettings.FxSoundVolume = volume;
        SaveSettingsAsync().ConfigureAwait(false);
    }

    async Task SaveSettingsAsync()
    {
        await UserDataService.SaveUserDataAsync(userData);
    }
}

<style>
    main {
        background: #E3DBDB;
    }
</style>